.bulletin-container{
    position:absolute;
    margin-left: 25rem;
    top: 6rem;
    width: 50%;
}
.submenu-bulletin{
    padding-top: 1%;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;

}
#submenu-event{
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}
.bulletin-container{
    background-color: #3f3f3f;
}
.bulletin-list{
    border-bottom: 2px solid #3f3f3f;
    background-color: #545454;
    color: #ffffff;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 7.5%;
}
.readmore-detail{
    margin-top: 2%;
    margin-left: 70%;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #000;
}
.readmore-detail:hover{
    background-color: #db9006;
}
